services:
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - PORT=5000
      - NODE_ENV=development
      - DATABASE_URL=${DATABASE_URL}
      - DB_SSL=${DB_SSL:-false}
    restart: always
